# Data Types in Python
![datatypes.jpeg]()

# Conditional Statements in Python

# 1. 'if' Statement

In [ ]:
# check if age is greater than or equal to 18
age=int(input("Enter Age"))
if age>=18:
  print("Eligible for Vote")

Enter Age23
Eligible for Vote

# 'if-else' Conditional Statement

In [ ]:
age=int(input("Enter Age"))
if age>=18:
  print("Eligible to Vote")
else:
  print("Not Eligible to Vote")

In [ ]:
 # compare between two numbers
a=int(input("Enter any A Value"))
b=int(input("Enter any B Value"))
if a>b:
  print(a," is greater than ", b)
else:
  print(b," is greater than ", a)

Enter any A Value23
Enter any B Value24
24  is greater than  23

#'if-elif-else'

In [ ]:
a=int(input("Enter any A Value"))
b=int(input("Enter any B Value"))
if a>b:
  print(a," is greater than ", b)
elif b>a:
  print(b," is greater than ", a)
else:
  print("Both are equal")

In [ ]:
# Assign grades based on scores >80 A grade, 60 and < 80, >=50 <60 then C, >=40  Pass  else Fails
scores=int(input("Enter your scores(0-100): "))
if scores>=80:
  print(" A grade")
elif scores>=60 and scores <80:
  print(" B grade")
elif scores>=50 and scores <60:
  print(" C grades")
elif scores>=40 and scores<50:
  print("pass")
else:
  print("Fails")

# Nested 'if-else'

In [ ]:
# Check whether number is even/odd
Number=int(input("Enter the Number: "))
if Number%2 ==1: #num%2!=0
  print("ODD Number")
else:
  print("EVEN Number")

In [ ]:
# Check whether the number is positive/Negative
num=int(input("Enter any Number: "))
if num>0:
  print("Positive number")
else:
  print("Negative number")

In [ ]:
# Check whether number is positive/negative and even/odd
num=int(input("Enter any Number: "))
if num>0:
  if num%2 ==0:
    print("Positive Even Number")
  else:
    print("Positive Odd Number")
else:
  if num%2 ==0:
    print("Negative Even Number")
  else:
    print("Negative Odd Number")

# Loops in Python
Loops enable you to perform repetitive tasks efficiently without writing redundant code. They iterate over a sequence (like a list, tuple, string, or range) or execute a block of code as long as a specific condition is met.
Types of Loops in Python
1. While loop
2. For loop
3. Nested loop

# While Loop :
 The while loop repeatedly executes a block of code as long as a given condition remains True. It checks the condition before each iteration.<br>
Syntax: <br>
 initial value<br>
 while condition:<br>
             &nbsp;  &nbsp;  &nbsp; &nbsp;   Code block to execute Example:

In [ ]:
#while True:
  #print("Hello")

In [ ]:
# Print numbers from 1 to 10 start=1 end 10
x=1
while x <= 10:
  print(x)
  x=x+1

In [ ]:
# print 10 to 1 initial value=10 end = 1
x=10
while x >= 1:
  print(x)
  x=x-1

In [ ]:
# Write a program to print even numbers in range 1 to 50 while and if
n=1
while n <=50:
  if n%2==0:
    print(n)
  n=n+1

# For Loop
The for loop in Python is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) and execute a block of code for each element in that sequence. <br>
Syntax: <br>
for variable in sequence:<br>
      &nbsp; &nbsp; &nbsp; &nbsp; Code block to execute

In [ ]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [ ]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [ ]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [ ]:
# print numbers in range 1 to 10
for x in range(1,11):
  print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# print numbers in range 1 to 10

In [ ]:
# print alternate number in range 4 to including 16 # 4,6,8
for i in range(4,17,2):
  print(i)

4
6
8
10
12
14
16

In [ ]:
# string, list,tuple
#String
country="INDIA"
for i in country:
  print(i)

I
N
D
I
A

# Loop Control Statements
• pass statement <br>
• break Statement <br>
• continue Statement <br>


# pass statement

When x > 5, the pass statement is executed, meaning nothing happens.<br>
If x <= 5, the else block runs, printing "x is 5 or less".<br>
pass allows the code to compile and run without errors, even though the if block is currently empty.

In [ ]:
x=5
if x>20:
  pass

# break statement

In [ ]:
x=5
while x<10: #5,6,7
  if x==7:
    break
  print(x)
  x=x+1 #x=6

# continue statement

In [ ]:
x=5
while x<10:
  print(x)
  if x==7:
    continue
    x=x+1

# List in Python
• What is List <br>
:A list in Python is a collection of items (elements) that are ordered, changeable
(mutable), and allow duplicate elements.
Lists are one of the most versatile data structures in Python and are used to store
multiple items in a single variable.<br>

• Create Lists <br>
• Access List: Indexing & Slicing <br>
• Modify List <br>
• List Methods <br>
• Join Lists <br>
• List Comprehensions <br>

In [ ]:
# variable_name= [1,2,3,4,"Pune",52.23],

In [ ]:
#Empty List
v=[]
type(v)

#Type
list("CoachX")

elist=list()
type(elist)

list

,# List Creation

In [ ]:
# Empty List
list1=list()
print(list1)
int_list = [1, 2, 3, 4, 5]
print(int_list)
float_list = [1.1, 2.5, 3.14, 4.0, 5.9]
print(float_list)
string_list = ["apple", "banana", "cherry", "date"]
print(string_list)
mixed_list = [1, "hello", 3.5, True]
print(mixed_list)

[]
[1, 2, 3, 4, 5]
[1.1, 2.5, 3.14, 4.0, 5.9]
['apple', 'banana', 'cherry', 'date']
[1, 'hello', 3.5, True]

In [ ]:
# Ordered Datatype
# positional value index value

# Accessing List Elements

In [ ]:

fruits = ["apple", "orange", "cherry", "apple", "mango"]
 # Access first element
print(fruits[0])
# Access third element
print(fruits[2])
# using negative indexing last element
print(fruits[-1])
# Access last element using negative index
print(fruits[4])
# access 'orange' using negative index
print(fruits[-4])

# List Slicing:

In [ ]:

"""
list_name[start:stop:step]
list_name[start:stop] [:3] n-1
"""
numbers = [10, 20, 30, 40, 50, 60]
# Slice from index 1 to 3 20,30,40
print(numbers[1:4])

# Output: [20, 30, 40]
# Slice from start to index 2 # 10,20,30
print(numbers[:3])
print(numbers[:])
print(numbers[2:])
# Slice all alternate elements
print(numbers[:])

print(numbers[::2])

# Slice with negative indices
print(numbers[-3:])
#40,50,60
print(numbers[-1:])
# Reverse list
print(numbers[::-1])

#60,50,40
print(numbers[-1:-4:-1])

[20, 30, 40]
[10, 20, 30]
[10, 20, 30, 40, 50, 60]
[30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]
[10, 30, 50]
[40, 50, 60]
[60]
[60, 50, 40, 30, 20, 10]
[60, 50, 40]

# Modifying List

In [ ]:
fruits = ["apple", "banana", "cherry"] # mutable(changeable)
# Changing an element add blueberry at 1st index
print(fruits)
fruits[1] ='blueberry'
print(fruits)
# Output: ['apple', 'blueberry', 'cherry']
# Adding an element using append function add mango to the fruits list
# append(): adding element to the end of list
fruits.append('mango')

# Output: ['apple', 'blueberry', 'cherry’, 'mango']
print(fruits)
# Removing an element
# pop removes last element
fruits.pop()
print(fruits)
# Output: ['apple', 'blueberry', 'mango']
fruits.remove('apple')
print(fruits)

fruits.insert(1,'kiwi')
print(fruits)

['apple', 'banana', 'cherry']
['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'mango']
['apple', 'blueberry', 'cherry']
['blueberry', 'cherry']
['blueberry', 'kiwi', 'cherry']

In [ ]:
fruits = ["apple", "orange", "cherry", "apple", "mango"]
print(fruits)
fruits.index('cherry')

['apple', 'orange', 'cherry', 'apple', 'mango']

2

In [ ]:
# count,reverse and sort functions
fruits = ["apple", "orange", "cherry", "apple", "mango"]

print(fruits.count('apple'))

fruits.sort(reverse=True)
print(fruits)
# reverse
fruits.reverse()
print(fruits)

2
['orange', 'mango', 'cherry', 'apple', 'apple']
['apple', 'apple', 'cherry', 'mango', 'orange']

# List Methods <br>

In [ ]:
"""
Method	       Description                                         	Example
append(x)	    Adds item x to the end of the list	                   list.append(10)
insert(i, x) 	Inserts item x at position i	                         list.insert(1, 20)
remove(x)    	Removes the first occurrence of x	                     list.remove(3)
pop([i])    	Removes and returns item at index i,
              or last item if i not given	                           list.pop() or list.pop(2)
clear()	       Removes all items from the list	                     list.clear()
index(x)	     Returns the index of the first occurrence of x	       list.index(5)
count(x)	    Returns number of times x appears in the list	         list.count(2)
sort()	      Sorts the list in ascending order (modifies in place)	 list.sort()
sort(reverse=True)	Sorts the list in descending order	             list.sort(reverse=True)
sorted(list)	  Returns a new sorted list                            sorted(list)
reverse()	     Reverses the list in-place	                           list.reverse()

"""

# Join Lists

In [ ]:
'India'+" "+'country'

In [ ]:
list1 = [1, 2] # int
list2 = ["a", "b"] # string
# Using the + operator concatenate
print(list1+list2)
print(list1,list2)
 # using append method
list1.append(list2)
print(list1) #Output : [1, 2, ['a', 'b']]


# using extend method
list1 = [1, 2] # int
list2 = ["a", "b"] # string
list1.extend(list2)
print(list1) #Output : [1, 2, 'a', 'b']

# add elements from one list to another list

[1, 2, 'a', 'b']
[1, 2] ['a', 'b']
[1, 2, ['a', 'b']]
[1, 2, 'a', 'b']

In [ ]:
list(range(5,10))

In [ ]:
for i in range(5,10):
  print(i)

In [ ]:
# create a list consisting of even 1 to 10
evenlist=[]
for i in range(1,11):
  if i%2==0:
    evenlist.append(i)

print(evenlist)

[2, 4, 6, 8, 10]

In [ ]:
# create a list consisting of even 1 to 10
elist=[]
for i in range(0,11,2):
  elist.append(i)

elist

[0, 2, 4, 6, 8, 10]

List Iterations

In [ ]:
# iteration using for
evenlist=[]
for i in range(1,11):
  if i%2==0:
    evenlist.append(i)

print(evenlist)

In [ ]:
# create a list consisting of numbers between range 1 to 10
l2=[]
for i in range(1,11):
  l2.append(i)

print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Create list if cities,take input from user,and new cities in the list,only one copy of city name(no duplication)

In [ ]:
cities = input("Enter City Name :")
for i in cities:
  if i != i:
    cities.append("i")
print(cities)

Enter City Name :Sambalpur
Sambalpur

 # List Comprehensions  <br>

 Syntax: <br>
new_list = [expression for item in iterable if condition]

In [ ]:
list1=[i for i in range(1,11)]
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Creating a list of squares: (1,10)
sqlist=[i*i for i in range(1,11)]
print(sqlist)

# list of 1 to 10
evenlist1=[i for i in range(1,11) if i %2==0]
print(evenlist1)

# Filtering even numbers:


 # Applying a function to each element:
fruits
for i in fruits:
  print(str.upper(i))
# convert every element in upper case

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 6, 8, 10]
APPLE
APPLE
CHERRY
MANGO
ORANGE

In [ ]:
evenlist

[2, 4, 6, 8, 10]

In [ ]:
#Using for statement for accesing sequence type of data
for j in evenlist:
  print(j)

2
4
6
8
10

# Tuple in Python
A tuple is a collection of items in Python that is ordered, unchangeable (immutable) and allow duplicate values.

Create Tuple in Python

In [ ]:
#empty List
l=list() # empty list using constructor
type(l)

list

In [ ]:
# create an empty tuple
t=()
type(t)
etuple=tuple() #Using Constructor
type(etuple)

tuple

In [ ]:
#tuple with single element
stuple=(7,)
print(stuple)
type(stuple)

(7,)

tuple

In [ ]:
# 1.	Using Parentheses ()
colors = ("red", "green", "blue")
print("colors=",colors)
numbers = (1, 2, 3, 4, 5)
print("numbers=",numbers)
mixed = (1, "hello", 3.14, True)
print("mixed list items=",mixed)
nested = (1, [2, 3], (4, 5, 6))
print("nested list =",nested)
# 2.	Without Parentheses (Comma-Separated) also_
numbers = 1, 2, 3, 4, 5
print(numbers)
# 3.	 Using the tuple() Constructor
new_tuple = tuple(("apple", "banana", "cherry"))
print(new_tuple)
 # use double brackets
list_items = ["x", "y", "z"]
# Creating a tuple from a list
tuple_items = tuple(list_items) # convert list to tuple
print(tuple_items)
# ('x', 'y', 'z’)
# 4.	Single-Item Tuple tuple
country=('India',)
print("Single element tuple",country)

colors= ('red', 'green', 'blue')
numbers= (1, 2, 3, 4, 5)
mixed list items= (1, 'hello', 3.14, True)
nested list = (1, [2, 3], (4, 5, 6))
(1, 2, 3, 4, 5)
('apple', 'banana', 'cherry')
('x', 'y', 'z')
Single element tuple ('India',)

In [ ]:
# create tuple consisting of single element

# Accessing Tuple Elements

In [ ]:
fruits = ("apple", "orange", "cherry", "apple", "mango")
# Access first element
print(fruits[0])
# Access third element
print(fruits[2])

# Access last element using negative index
print(fruits[-1])

apple
cherry
mango

# Tuple Slicing

Syntax: <br>
tuple_name[start:stop:step]

In [ ]:
numbers = (10, 20, 30, 40, 50, 60)
# 60=-1,50,-2,
# Slice from index 1 to 3 20,30,40
print(numbers[1:4])



# Slice from start to index 2 10,20,30
print(numbers[:3])

# Slice all alternate 10,30,50
print(numbers[::2])

# Slice with negative indices 30,40,50
print(numbers[-4:-1])

# Reverse list

(20, 30, 40)
(10, 20, 30)
(10, 30, 50)
(30, 40, 50)

# Tuple Operations

In [ ]:
# 1.	Concatenation
# You can join two or more tuples using the + operator.

tuple1 = (1, 2, 3)
tuple2 = (4, 5)

tuple1+tuple2

(1, 2, 3, 4, 5)

In [ ]:
a=5

In [ ]:
# 2.	Repetition
# You can repeat a tuple multiple times using the * operator.
tuple1*2
print(tuple1)

(1, 2, 3)

In [ ]:
# in operator is membership operator
30 in tuple1

False

In [ ]:
# 3.	Checking for an Item
# Use the in keyword to check if an item exists in a tuple.
print(tuple1)

# Iterating Over Tuple

In [ ]:
fruits = ("apple", "mango", "cherry")
# Using for loop
for d in fruits:
  print(d)

#Length for tuple
print("Length",len(fruits))

# Using while loop
k=0
while k <len(fruits):
  print(fruits[k])
  k=k+1



# Tuple Methods
# 1. count(x): Returns the number of times x appears in the tuple.
print("Count of apple=",fruits.count('apple'))

#2. index(x): Returns the first index of the value x. Raises an error if not found.

fruits.index('cherry')

apple
mango
cherry
Length 3
apple
mango
cherry
Count of apple= 1

2

# Tuple Functions

In [ ]:
"""
# Functions of tuple
function	          Description	                              Example
len()	         Returns the number of elements in the tuple	  len((1, 2, 3)) → 3
max()          Returns the maximum value	                    max((3, 6, 1)) → 6
min()	         Returns the minimum value                     	min((3, 6, 1)) → 1
sum()	        Returns the sum of elements	                   sum((3, 6, 1)) → 10
sorted()	    Returns a sorted list from the tuple
                                                   sorted((3, 1, 2)) → [1, 2, 3]
any()	         Returns True if any element is True	       any((0, 0, 1)) → True
all()	    Returns True if all elements are True	           all((1, 2, 3)) → True
tuple()  	Converts iterable to a tuple	            tuple([1, 2, 3]) → (1, 2, 3)
"""

In [ ]:
print(len((1, 2, 3))) # 3
print(max((3, 6, 1))) # 6
print(min((3, 6, 1))) # 1
print(sum((3, 6, 1))) # 10
print(sorted((3, 1, 2))) # 1,2,3
print(any((0, 0, 1))) # True
print(all((1, 2, 1))) # True
print(tuple([1, 2, 3])) # converting list to tuple

3
6
1
10
[1, 2, 3]
True
True
(1, 2, 3)

In [ ]:
True and True

# Set in Python
Python A set is a collection of unique items in Python. Sets do not allow duplicate items and do not maintain any particular order so it can’t be indexed. <br>

Characteristics of Sets: <br>
• Unordered: Elements have no defined order. You cannot access elements by index.<br>
 • Unique Elements: No duplicates allowed. Each element must be distinct. <br>
• Mutable: You can add or remove elements after creation. <br>
• Immutable Elements: individual elements inside a set cannot be modified/replaced <br>

Create Set in Python

In [ ]:
#Empty set
s1=set()
type(s1)

set

In [ ]:
# 1.	Using Curly Braces {}
my_set = {1, 2, 3, 4, 5,6,2,3} # integer set # unique
print(my_set)
# Output: {1, 2, 3, 4, 5}
# 2.	Using the set() Constructor
my_set = set([1, 2, 3, 4, 5])
print(my_set)
# Output: {1, 2, 3, 4, 5}
# Creating an empty set
empty_set = set()
print(empty_set)
# Output: set()

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}
set()

In [ ]:
my_set

In [ ]:
# Generate a list consisting of unique element
mylist=[1,5,1,3,7,3]
mylist
list(set(mylist))

[1, 3, 5, 7]

Set Operations

In [ ]:
# 1.	Adding Elements : Use the add() method to add a single element to a set.
fruits = {'apple', 'banana'}
fruits.add('cherry')
print(fruits)
# Output: {'apple', 'banana', 'cherry’}
# 2.	Removing Elements: Use the remove() or discard() methods to remove elements.
# • remove() raises an error if the element is not found.
# • discard() does not raise an error if the element is missing.
fruits.remove('apple')


# Using discard()
fruits.discard('cherry')
print(fruits)

{'apple', 'banana', 'cherry'}
{'banana'}

# Set Methods

1.	Union: Combines elements from two sets, removing duplicates.<br>

In [ ]:
# Union
set_a = {1, 2, 3}
set_b = {3, 4, 5}
set_a.union(set_b)

{1, 2, 3, 4, 5}

In [ ]:
# 2.	Intersection: Includes only elements present in both sets.  <br>
set_a = {1, 2, 3}
set_b = {2, 3, 4}

set_a.intersection(set_b)

{2, 3}

In [ ]:
# 3.	Difference: Elements present in the first set but not in the second.
# what is different in set a from set b
set_a = {1, 2, 3, 4}
set_b = {3, 4, 5}

set_b.difference(set_a)

{5}

In [ ]:
# 4.	Symmetric Difference: Elements in either set, but not in both.
set_a = {1, 2, 3}
set_b = {3, 4, 5}
set_a.symmetric_difference(set_b)

{1, 2, 4, 5}

# Dictionaries <br>
Data is stored in key and value pair

In [ ]:
# creating empty dictionary

d1=dict() #using constructor
type(d1)

In [ ]:
my_dictionary={
    1:'One',
    2:'Two',
    3:'Three',
    4:'Four',
    'empid':101,
    85000:'salary',
    'branch':['mumbai','pune']
}
my_dictionary

{1: 'One',
 2: 'Two',
 3: 'Three',
 4: 'Four',
 'empid': 101,
 85000: 'salary',
 'branch': ['mumbai', 'pune']}

In [ ]:
my_dictionary['branch']

['mumbai', 'pune']

In [ ]:
for i in my_dictionary:
  print(i)

1
2
3
4
empid
85000
branch

keys()

In [ ]:
for i in my_dictionary.keys():
  print(i)

1
2
3
4
empid
85000
branch

values()

In [ ]:
# access
for i in my_dictionary.values():
  print(i)

One
Two
Three
Four
101
salary
['mumbai', 'pune']

items()

In [ ]:
for i in my_dictionary.items():
  print(i)

(1, 'One')
(2, 'Two')
(3, 'Three')
(4, 'Four')
('empid', 101)
(85000, 'salary')
('branch', ['mumbai', 'pune'])

In [ ]:
# access single element
print(my_dictionary['empid'])
print(my_dictionary[85000])

101
salary

In [ ]:
# add new pair
my_dictionary['department']='HR'
my_dictionary

{1: 'One',
 2: 'Two',
 3: 'Three',
 4: 'Four',
 'empid': 101,
 85000: 'salary',
 'branch': ['mumbai', 'pune'],
 'department': 'HR'}

In [ ]:
# remove element from dictionary
my_dictionary.pop(85000)

'salary'

In [ ]:
my_dictionary

{1: 'One',
 2: 'Two',
 3: 'Three',
 4: 'Four',
 'empid': 101,
 'branch': ['mumbai', 'pune'],
 'department': 'HR'}

In [ ]:
# dictionary consisting student records

student={
    'rollnumber':[i for i in range(5)],
    'names':['Alice','Bob','Clara','David','John'],
    'location':['X','Y','P','Q','R']
}
student

{'rollnumber': [0, 1, 2, 3, 4],
 'names': ['Alice', 'Bob', 'Clara', 'David', 'John'],
 'location': ['X', 'Y', 'P', 'Q', 'R']}

In [ ]:
import pandas as pd
pd.DataFrame(student)

   rollnumber  names location
0           0  Alice        X
1           1    Bob        Y
2           2  Clara        P
3           3  David        Q
4           4   John        R

In [ ]:
pd.DataFrame(my_dictionary)

     1    2      3     4  empid  branch department
0  One  Two  Three  Four    101  mumbai         HR
1  One  Two  Three  Four    101    pune         HR